html, body {
    height: 100%;
}

#spinner {
    position: absolute;
    right: 15px;
    top: 15px;
    display: none;
}

#content {
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
    padding: 25px;
}

#content > .row {
    flex: 0 1 auto;
}

#content > .row:last-child {
    flex: 1 1 auto;
}

#content .mdl-textfield {
    width: 100%;
}

#content .mdl-button {
    margin: 0 5px;
    background-color: #e6e6e6;
    color: #666666;
}

#result {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid lightgray;
    margin-top: 20px;
    padding: 20px;
    font-size: 15px;
    color: #666666;
    overflow: auto;
}