html, body, #no-connection {
    height: 100%;
}

#no-connection {
    display: none;
}

#no-connection > p {
    text-align: center;
    position: relative;
    top: 50%;
}

#no-connection > p > span {
    text-decoration: underline;
    color: #0277bd;
    cursor: pointer;
}

#content {
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
    padding: 20px;
}

#content .mdl-button {
    margin: 0 5px;
    background-color: #e6e6e6;
    color: #666666;
}

#input {
    margin-bottom: 10px;
    min-height: 420px;
    height: 420px;
}

#buttons {
    position: relative;
}

#spinner {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    display: none;
}

#buttons, #input {
    flex: 0 1 auto;
}

#output {
    flex: 1 1 auto;
    margin-top: 10px;
    padding: 20px;
    text-align: left;
    font-size: 14px;
    color: #666666;
    overflow: auto;
}

#output, #input {
    border: 1px solid lightgray;
}

/* json-formatter-js override */
.json-formatter-url {
    pointer-events: none;
    cursor: default;
    text-decoration: none !important;
}